@model Cmx.Timesheet.Website.Models.Timesheet.TimesheetViewModel

<div class="form-horizontal">
    <hr />

    <table class="table table-condensed">
        <thead>
            <tr>
                <td>Date</td>
                <td class="text-center">Start</td>
                <td class="text-center">Break From</td>
                <td class="text-center">Break To</td>
                <td class="text-center">Finish</td>
                <td class="text-center">Total Hrs</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var workDay in @Model.Calendar)
            {
                <tr>
                    <td>@Html.DisplayFor(m => @workDay.Date, "ShortDateDisplayTemplate")</td>
                    <td class="text-center">@Html.DisplayFor(m => @workDay.StartTime, "TimeSpanDisplayTemplate")</td>
                    <td class="text-center">@Html.DisplayFor(m => @workDay.BreakStartTime, "TimeSpanDisplayTemplate")</td>
                    <td class="text-center">@Html.DisplayFor(m => @workDay.BreakEndTime, "TimeSpanDisplayTemplate")</td>
                    <td class="text-center">@Html.DisplayFor(m => @workDay.EndTime, "TimeSpanDisplayTemplate")</td>
                    <td class="text-center">@Html.DisplayFor(m => @workDay.TotalHours, "TimeSpanDisplayTemplate")</td>
                </tr>
            }
        </tbody>
    </table>
</div>