@using Newtonsoft.Json.Linq
@model Cmx.Timesheet.Website.Models.Timesheet.EditTimesheetViewModel

@{
    ViewBag.Title = "Timesheet";
}

<div class="container-fluid">
    @using (Html.BeginForm("Edit", "Timesheet"))
    {
        <div class="row">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Timesheet.Id)
            @Html.HiddenFor(m => m.Timesheet.StartDate)
            @Html.HiddenFor(m => m.Timesheet.EndDate)
            @Html.HiddenFor(m => m.Timesheet.Status)


            @Html.Partial("EditTimesheetPartial", Model)
        </div>
        <div class="row text-center">
            <button type="submit" class="btn btn-info">Save</button>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="row text-center">
            @Html.ActionLink("Back", "Index", "User")
        </div>
            }

        </div>